body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

#clock,
#timer,
#stopwatch,
#daily-limit {
    margin-bottom: 20px;
}

#timer-input,
#limit-input {
    width: 100px;
}

#timer-message,
#limit-message {
    font-weight: bold;
}

#time-history {
    list-style-type: none;
    padding: 0;
}

#time-history li {
    margin-bottom: 5px;
}